:root {
    --color-first: #846B29;
    --color-second: #EDE6CF;
    --color-third: #FFFFFF;
    --yellow: #FFF212;
    --gray: #6D7280;
    --text-sm: 16px;
    --text-md: 20px;
    --text-lg: 28px;
    --text-xl: 40px;
    --text-2xl: 60px;
    --text-3xl: 80px;

}

.btn {
    border-radius: 10px;
    padding: 2% 5%;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn--colorFirst {
    background-color: var(--color-first);
    color: white;
}

.btn--colorFirst:hover {
    background-color: var(--color-second);
    border-color: var(--color-first);
    color: var(--color-first);
}

.btn--colorSecond {
    background-color: var(--color-second);
    border: none;
    color: white;
}

.btn--colorSecond:hover {
    background-color: white;
    border: none;
    color: var(--color-second);
}

.btn--colorThird {
    background-color: var(--color-third);
    border:1px solid var(--color-first);
    color: var(--color-first);
    transition: all 0.5s ease-in-out;
}

.btn--colorThird:hover {
    background-color: var(--color-second);
    color: var(--color-first);
}

.btn--transparent {
    background-color: transparent;
    border: 1px solid var(--yellow);
    color: var(--yellow);
}

.btn--transparent:hover {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    color: var(--color-first);
}

.btn--square {
    height: 40px;
    width: 40px;
}

.a--colorFirst {
    color: black;
}

.a--colorFirst:hover {
    color: var(--color-first) !important;
}

.text--colorFirst {
    color: var(--color-first);
}

.text--colorSecond {
    color: var(--color-second);
}

.text--yellow {
    color: var(--yellow);
}

.text--gray {
    color: var(--gray);
}

.text--white {
    color: white;
}

.text--sm {
    font-size: var(--text-sm);
}

.text--md {
    font-size: var(--text-md);
}

.text--lg {
    font-size: var(--text-lg);
}

.text--xl {
    font-size: var(--text-xl);
}

.text--2xl {
    font-size: var(--text-2xl);
}

.text--3xl {
    font-size: var(--text-3xl);
}

.text--start {
    text-align: start;
}

.font--workSans {
    font-family: 'Work Sans', sans-serif;
}

.grid--2cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid--3cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 12px;
    margin-top: 12px;
}

.grid--4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.gap-2 {
    display: grid;
    gap: 12px;
}

.gap-4 {
    display: grid;
    gap: 24px;
}

.gap-8 {
    display: grid;
    gap: 48px;
}

.w--50 {
    width: 50%;
}

.w--fit {
    width: fit-content;
}

.w--64 {
    width: 64px;
}

.w--128 {
    width: 128px;
}

.h--64 {
    height: 64px;
}

.justify-items--center {
    justify-items: center;
}

.maxw--1280 {
    max-width: 1280px;
}

.opacity-80 {
    background-color: rgba(255, 255, 255, 0.75); /* Opacidad del 85% con color de fondo blanco */
    backdrop-filter: blur(10px); 
}

.bg--image2 {
    background-image: url('../img/lineas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg--hero {
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 40px 40px;
}
.bg--footer {
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start;
}

.bg--colorFirst {
    background-color: var(--color-first);
}
.bg--colorSecond {
    background-color: var(--color-second);
}

.hero--bg {
    background-image: url('../img/landing/heroBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.long--text {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.of--cover {
    object-fit: cover;
}
.card__space{       /*Estilo para agregar espacio en algun grid*/
    display: block;
}

.radius-md{
    border-radius: 12px;
}


@media (max-width: 990px) {
    .grid--2cols {
        grid-template-columns: 1fr;
    }

    .grid--4cols {
        grid-template-columns: 1fr 1fr;
    }

    .w--50 {
        width: 100%;
    }
    .card__space{
        display: none;
    }

    .text--2xl {
        font-size: var(--text-lg);
    }

    .text--3xl {
        font-size: var(--text-xl);
    }
}

@media (max-width: 767px) {
    .grid--4cols {
        grid-template-columns: 1fr;
    }
}